<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
      
  <listener>
    <listener-class>com.binarycube.buspayment.ServletContextInitialiser</listener-class>
  </listener>    
       
  <servlet>
      <servlet-name>list</servlet-name>
      <servlet-class>com.binarycube.buspayment.actions.ListDataServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>list</servlet-name>
      <url-pattern>/</url-pattern>
      <url-pattern>/bp/data/list</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>add</servlet-name>
      <servlet-class>com.binarycube.buspayment.actions.AddDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>add</servlet-name>
      <url-pattern>/bp/data/add</url-pattern>
    </servlet-mapping>
    

<!-- [START bucket] -->
    <context-param>
        <param-name>datafile.bucket</param-name>
        <param-value>${datafile.bucket}</param-value>
    </context-param>
<!-- [END bucket] -->

</web-app> 
         
         
         